body{
    background-color: rgb(239, 149, 96);
    font-family: 'Nuosu SIL', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif; 
    font-family: 'Ubuntu', sans-serif; 
}
h1{
    text-align: center;
    font-family: 'Nuosu SIL', serif;
}
h2, p{
    font-family: 'Nuosu SIL', serif;
}
.para{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    
}
marquee{
    color:rgb(2, 92, 2);
    font-family: 'Nuosu SIL', serif;
    font-size: x-large;
}