h1{
    text-align: center;
    padding: 5px;
    border: 2px;
    color: rgb(10, 9, 1);
}
.gup{
    text-align: center;
    color: brown;

}
.san{
        height: 15%;
    background-color: rgb(240, 223, 191);
}
.ss2{
    height: 20%;
    background: rgb(229, 247, 163);

}
