/* Login Page */
.wraper{
    background-image: url(../Images/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    height: 700px;
}
.login{
    text-align: center;
    margin: 5% auto;
    width: 60%;
    font-size: 25px;
    border: 4px solid;
    padding: 2%;
}
.btn{
    border: none;
    background-color: rgb(38, 38, 245);
    color: white;
    padding: 7px 106px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}
.form-control{
    font-size: 20px;
    margin: 10px;
    text-align: center;
    border: none;
    height: 35px;
}