form{
    font-size: 30px;
    border: 2px solid black;
}
h1{
    background: rgb(105, 166, 236);
    text-align: end;
}
h2{
    background: rgb(105, 166, 236);
    text-align: end;
}
h3{
    background: rgb(105, 166, 236);
    text-align: end;
}
h4{
    background: rgb(105, 166, 236);
    text-align: end;
}
.submit{
    text-align: end;
   
}
