body{
    background-color: rgb(34, 168, 235);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

dt{
    font-weight: bold;
}
.contact{
    padding: 50px 0;
}
.navbar{
    text-align: center;
}
.navbar li{
    display: inline;
}
.homepage{
    margin: 75px 0;
}
.img1{
    height: 250px;
    width: 250px;
    float: left;
}
.img2{
    height: 250px;
    width: 250px;
    float: right;
}
.img3{
    padding: 50px 0;
}

